@using TravilTripProje.Models.Siniflar
@model List<Blog>

@foreach (var item in Model)
{
    <div class="bot-img">
        <img src="@item.BlogImage" alt="" />
    </div>
    <div class="bot-desc">
        <p>@item.Aciklama.Substring(0,75) ...</p>
    </div>
    <div class="clear"></div>
}
